@font-face {
  font-family: "iconfont"; /* Project id 3652931 */
  src: url('iconfont.woff2?t=1664073010172') format('woff2'),
       url('iconfont.woff?t=1664073010172') format('woff'),
       url('iconfont.ttf?t=1664073010172') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-chuang:before {
  content: "\e685";
}

.icon-kuandai:before {
  content: "\e614";
}

